@tailwind base;
@tailwind components;
@tailwind utilities;


/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 9% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 9% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 9% 23%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 17% 98%;
    --secondary-foreground: 210 9% 23%;
    --muted: 210 17% 98%;
    --muted-foreground: 208 7% 46%;
    --accent: 210 17% 98%;
    --accent-foreground: 210 9% 23%;
    --destructive: 354 70% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 14% 89%;
    --input: 210 14% 89%;
    --ring: 211 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 9% 23%;
    --foreground: 0 0% 100%;
    --card: 210 9% 23%;
    --card-foreground: 0 0% 100%;
    --popover: 210 9% 23%;
    --popover-foreground: 0 0% 100%;
    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 17% 98%;
    --secondary-foreground: 210 9% 23%;
    --muted: 210 17% 98%;
    --muted-foreground: 208 7% 46%;
    --accent: 210 17% 98%;
    --accent-foreground: 210 9% 23%;
    --destructive: 354 70% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 14% 89%;
    --input: 210 14% 89%;
    --ring: 211 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", sans-serif;
  }
}